<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- <logger name="jackknife.logging" level="debug" /> -->

  <logger name="org.jets3t.service.impl.rest.httpclient.RestS3Service" level="ERROR" />
  <logger name="org.apache.hadoop.fs.s3native.NativeS3FileSystem" level="WARN" />

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
